@model ProjetNichoir.Models.Nichoir

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nichoir</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emplacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emplacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_ajout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_ajout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statut_batterie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statut_batterie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statut_pir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statut_pir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statut_led_ir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statut_led_ir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resolution_camera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resolution_camera)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_nichoir">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
